<html>
<head>
  <meta charset="utf-8" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    div#app { padding: 30px; margin: 30px auto; max-width: 400px;
      border: 1px solid #ccc; box-shadow: 3px 3px 3px #aaa; }
    div#app div { margin-bottom: 20px; }
    label { display: block; }
    input[type=text] { padding: 4px; }
    div.total { font-size: 16pt; }
  </style>
</head>
<body>
    <div id="app">
        <h1>주문</h1>
        <div>
            <label>수량</label>
            <input type="text" v-model="quantity" />
        </div>
        <div>
            <label>가격</label>
            <input type="text" v-model="price" />
        </div>
        <hr />
        <div class="total">
            {{ total }}
        </div>
    </div>

    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                quantity: 1,
                price: 0
            },
            computed: { // 계산속성
             // total 계산 속성을 정의(구현형태는 메소드, 사용범은 속성)
                total() {
                    return this.quantity * this.price;
                }
            }
            // 값을 대입할 수 는 없다 (getter 메서드만 구현되어서...)
        })
    </script>
</body>
</html>